body {
  height: 10000px;
}

.headerFixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: pink;
}

.headerNormal {
  position: relative;
  color: green;
}

.App {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

button {
  color: white;
  background-color: royalblue;
  border: none;
  font-size: 20px;
  margin: 4px;
  padding: 6px 12px;
}

.counterValue {
  color: red;
  font-weight: bold;
}

ul {
  list-style: none;
}
